{% include "header.html" %}

<!-- about section starts  -->
<div class="content">
<section class="about" id="about">

<h1 class="heading"><span>about</span> us </h1>

<div class="row">

    <div class="image">
        <img src="static/images/about-img.jpg" alt="">
    </div>

    <div class="content">
        <h3>we will give a very special celebration for you</h3>
        <p>Evento is a platform for organizing events accessible to everyone through the mode of website.
          On this platform the customers and vendors are in direct contact with each other and do not need a third person as an event manager.
          Vendors can register themselves in their respective fields and increase their business.</p><p><b>So lets's start creating and managing Events!</b></p>
        <a href="#" class="btn">contact us</a>
    </div>

</div>
</div>
</section>

<!-- about section ends -->
{% include "footer.html" %}
