{% block content %}
{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<div class="content">
<section class="about" id="about">
<div id="myDIV" class="header1">
<h1 class="heading"><span>Guest</span> List </h1>
    <div class="guest">
  {{ wtf.quick_form(form,novalidate=True) }}
    </div>
</div>

<ul id="myUL">
  {% for guest in all_guests %}
  <li>{{guest.name}}<span><a href="{{ url_for('guest_delete',user_id=guest.id) }}" class="button">✘</a></span></li>
    {% endfor %}
</ul>
</section>
</div>

<style>
/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  color:#3867d6;
  font-weight:bold;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Style the header */
.header1 {
  position:relative;
    padding-bottom: 2rem;
    color:#fff;
    font-size: 2rem;
}

/* Clear floats after the header */
.header1:after {
  content: "";
  display: table;
  clear: both;
}
.form{
  display: flex;
  width: 100%;
}

/* Add some margins for each label */
.form label {
  margin: 0px 10px 5px 0;
}

/* Style the input fields */
.form input[type=text] {
  vertical-align: middle;
  margin: 0px 10px 0px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  width:450px;
}


input[type=submit]
{
width:100px;
height:40px;
margin-top:0px;

}
/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

</style>
<script>

// Add a "checked" symbol when clicking on a list item
var list = document.querySelector('ul');
list.addEventListener('click', function(ev) {
  if (ev.target.tagName === 'LI') {
    ev.target.classList.toggle('checked');
  }
}, false);

// Create a new list item when clicking on the "Add" button
function newElement() {
  var li = document.createElement("li");
  var inputValue = document.getElementById("myInput").value;
  var t = document.createTextNode(inputValue);
  li.appendChild(t);
  if (inputValue === '') {
    alert("You must write something!");
  } else {
    document.getElementById("myUL").appendChild(li);
  }
  document.getElementById("myInput").value = "";

  var span = document.createElement("SPAN");
  var txt = document.createTextNode("\u00D7");
  span.className = "close";
  span.appendChild(txt);
  li.appendChild(span);

  for (i = 0; i < close.length; i++) {
    close[i].onclick = function() {
      var div = this.parentElement;
      div.style.display = "none";
    }
  }
}
</script>
{% include "footer.html" %}
{% endblock %}